* {
  box-sizing: border-box;

}

html {
  margin: 10px;
  padding: 0px;
}

body {
  margin: 20px;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQYV2NkYGD4z8DAwMgABXAGlP8fJIBfBQCCwgQDl2D/zgAAAABJRU5ErkJggg==) repeat;
  background-repeat: 400px;
}

.content {
  font-size: 0;
  height: 100%;
  width: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}



.box-1 {
  background-color: hsl(237, 96%, 66%);
  width: 30.2%;
  height: 30.2%;
  color: white;
  display: inline-block;
  position: relative;
  font-size: 30px;
  font-family: 'Bungee Shade', cursive;
}

.box-2 {
  background-color: hsl(302, 66%, 61%);
  width: 20.9%;
  height: 20.9%;
  color: black;
  display: inline-block;
  position: relative;
  font-size: 20px;
  font-family: 'Bungee Shade', cursive;
}

.box-3 {
  background-color: hsl(339, 89%, 65%);
  width: 25.6%;
  height: 25.6%;
  color: white;
  display: inline-block;
  position: relative;
  font-size: 25px;
  font-family: 'Bungee Shade', cursive;
}

.box-4 {
  background-color: hsl(159, 30%, 74%);
  width: 7%;
  height: 7%;
  color: black;
  display: inline-block;
  position: relative;
  font-size: 6px;
  font-family: 'Bungee Shade', cursive;
}

.box-5 {
  background-color: hsl(215, 88%, 59%);
  width: 7%;
  height: 7%;
  color: white;
  display: inline-block;
  position: relative;
  font-size: 6px;
  font-family: 'Bungee Shade', cursive;
}

.box-6 {
  background-color: hsl(87, 88%, 81%);
  width: 7%;
  height: 7%;
  color: black;
  display: inline-block;
  position: relative;
  font-size: 6px;
   font-family: 'Bungee Shade', cursive;
}

.box-7 {
  background-color: hsl(347, 88%, 56%);
  width: 2.3%;
  height: 2.3%;
  color: white;
  display: inline-block;
  position: relative;
  font-size: 3px;
   font-family: 'Bungee Shade', cursive;
}

.box-8 {
  background-color: hsl(237, 59%, 55%);
  width: 30.2%;
  height: 30.2%;
  color: white;
  display: inline-block;
  float: left;
  position: relative;
  font-size: 30px;
  font-family: 'Bungee Shade', cursive;
}

.box-9 {
  background-color: hsl(302, 43%, 49%);
  width: 20.9%;
  height: 20.9%;
  color: black;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 30px;
  font-family: 'Bungee Shade', cursive;
}

.box-10 {
  background-color: hsl(338, 56%, 53%);
  width: 25.6%;
  height: 25.6%;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 30px;
  font-family: 'Bungee Shade', cursive;
}

.box-11 {
  background-color: hsl(159, 75%, 89%);
  width: 7%;
  height: 7%;
  color: black;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 6px;
  font-family: 'Bungee Shade', cursive;
}

.box-12 {
  background-color: hsl(215, 60%, 49%);
  width: 7%;
  height: 7%;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 6px;
  font-family: 'Bungee Shade', cursive;
}

.box-13 {
  background-color: hsl(87, 41%, 67%);
  width: 7%;
  height: 7%;
  color: black;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 6px;
  font-family: 'Bungee Shade', cursive;
}

.box-14 {
  background-color: hsl(347, 68%,47%);
  width: 2.3%;
  height: 2.3%;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 4px;
  font-family: 'Bungee Shade', cursive;
}

.row-1{
  background-color: white;
  width: 95%;
  height: 50%;
  color: black;
  margin-top: 100px;
  margin-left: 10px;
  position: relative;
  font-size: 25px;
  font-family: 'Kreon', serif;
  
}



