* {
  box-sizing: border-box;

}

html {
  margin: 20px;
  padding: 0;
}

body {
  margin: 20px;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.content {
  font-size: 0;
  height: 100%;
  width: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}



.box-1 {
  background-color: hsl(237, 96%, 66%);
  width: 30.2%;
  height: 30.2%;
  color: white;
  display: inline-block;
  position: relative;
  font-size: 30px;
}

.box-2 {
  background-color: #777;
  width: 20.9%;
  height: 20.9%;
  color: white;
  display: inline-block;
  position: relative;
  font-size: 30px;
}

.box-3 {
  background-color: #555;
  width: 25.6%;
  height: 25.6%;
  color: white;
  display: inline-block;
  position: relative;
  font-size: 30px;
}

.box-4 {
  background-color: #888;
  width: 7%;
  height: 7%;
  color: white;
  display: inline-block;
  position: relative;
  font-size: 12px;
}

.box-5 {
  background-color: #222;
  width: 7%;
  height: 7%;
  color: white;
  display: inline-block;
  position: relative;
  font-size: 12px;
}

.box-6 {
  background-color: #444;
  width: 7%;
  height: 7%;
  color: white;
  display: inline-block;
  position: relative;
  font-size: 12px;
}

.box-7 {
  background-color: #666;
  width: 2.3%;
  height: 2.3%;
  color: white;
  display: inline-block;
  position: relative;
  font-size: 6px;
}

.box-8 {
  background-color: hsl(237, 59%, 55%);
  width: 30.2%;
  height: 30.2%;
  color: white;
  display: inline-block;
  float: left;
  position: relative;
  font-size: 30px;
}

.box-9 {
  background-color: #777;
  width: 20.9%;
  height: 20.9%;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 30px;
}

.box-10 {
  background-color: #555;
  width: 25.6%;
  height: 25.6%;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 30px;
}

.box-11 {
  background-color: hsl(159, 75%, 89%);
  width: 7%;
  height: 7%;
  color: black;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 12px;
}

.box-12 {
  background-color: #222;
  width: 7%;
  height: 7%;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 12px;
}

.box-13 {
  background-color: #444;
  width: 7%;
  height: 7%;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 12px;
}

.box-14 {
  background-color: #666;
  width: 2.3%;
  height: 2.3%;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 6px;
}

