* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content {
  font-size: 0;
  height: 100%;
  width: 100%;
}

.center {
 
}



.box-content {
  font-size: 30px;
}

.box-1 {
  background-color: #333;
  width: 30.2%;
  height: 75%;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 0%;
  left: 0%;
  transform: translate(-50%,-50%);
}

.box-2 {
  background-color: #777;
  width: 20.9%;
  height: 75%;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.box-3 {
  background-color: #555;
  width: 25.6%;
  height: 75%;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.box-4 {
  background-color: #888;
  width: 7%;
  height: 75%;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.box-5 {
  background-color: #222;
  width: 7%;
  height: 75%;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.box-6 {
  background-color: #444;
  width: 7%;
  height: 75%;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.box-7 {
  background-color: #666;
  width: 2.3%;
  height: 75%;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
